.header{
    width: 99%;
    background: blue;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
}
.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    width: fit-content;
    margin-left: 10px;
}
.search_text{
    margin: 10px;
    border: none;
    outline: none;
    padding: 10px;
    width: 400px;
}
@media (max-width: 768px) {
    .header{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .search_text{
        width: 20em;
    }
  }